body {
  font-size: 1rem !important;
  text-align: center;
}
a {
  color: white !important;
}

a .navlink :visited {
  color: #bdd180 !important;
}

.navbar {
  background-color: #313b48;
  color: white;
}
.miscont {
  width: 50%;
  margin-left: 25vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.servicescard {
  padding: 5%;
  border-radius: 20px 0;
}
.card {
  margin: 30px;
  border-color: #313b48;
}
.custform {
  width: 50%;
  margin-left: 25vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.btn {
  margin: 3%;
  background-color: #c7d46f;
}
.btn-secondary:hover {
  background-color: #313b48;
}
.modal .modal-content {
  color: white;
  background: #495666;
  padding: 8%;
}
.row {
  padding: 4%;
}
.App {
  text-align: center;
}
.header {
  display: inline-block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.alert {
  background-color: #c7d46f;
}

.spinner {
  background-color: #c7d46f;
}
h3 {
  color: #495666;
}
h1 {
  color: #495666;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
